body {
  background: green;
  font-family: "Russo One", sans-serif;
}

header {
  text-align: center;
}

.gameContainer {
  text-align: center;
}

.button {
  background-color: white;
  color: red;
  border-radius: 8px;
  font-size: 25px;

  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.button:hover {
  background-color: red;
  color: white;
}

.input {
  height: 20px;
  width: 350px;
  border: white 2px solid;
}

.cardImg {
  height: 150px;
  width: 150px;
}

.scoreboard {
  font-size: 20px;
  border: black 2px solid;
  margin-left: 15px;
}

#score1 {
  padding-left: 10px;
}

#higher {
  margin-right: 20px;
  margin-top: 20px;
}

#cardimage {
  height: 300px;
  width: 300px;
}

#end_game {
  animation: endGameAnimation 1s infinite linear;
}

@keyframes endGameAnimation {
  0% {
    color: black;
  }
  50% {
    color: red;
  }
  100% {
    color: black;
  }
}
